@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilhe as colunas verticalmente */
  }

  #myMap {
    max-width: 40vh; /* Diminua a altura máxima em telas menores */
  }
  
  .coluna1 {
    width: 100%; /* Ocupe toda a largura da tela */
  }
  
  .Mot {
    flex-direction: column; /* Empilhe as informações do motorista verticalmente */
  }
  
  .Mot .ImgM {
    margin: 0 auto 10px auto; /* Centralize a imagem */
  }
}

@media (max-width: 480px) {
  .pesquisar input[type="search"] {
    width: 100%; /* Ocupe toda a largura disponível */
  }
  
  .container {
    padding: 10px; /* Diminua o padding para economizar espaço */
  }

  .coluna1 {
    width: 100%;
  }

  .pesquisar {
    flex-direction: column; /* Empilhe o campo de busca e o botão verticalmente */
    padding: 10px;
  }

  .pesquisar input[type="search"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .botoes {
    flex-direction: column; /* Empilhe os botões verticalmente */
  }

  .botoes button {
    width: 100%;
    margin-bottom: 10px;
  }

  .Mot {
    flex-direction: column;
    padding: 10px;
  }

  .Mot .ImgM {
    width: 100%; /* A imagem ocupa a largura total */
    height: auto; /* Altura ajusta automaticamente */
    margin-bottom: 10px;
  }

  .desc {
    width: 100%;
  }

  #myMap {
    max-width: 20vh;
  }
  
  .botoes button {
    width: 100%; /* Ocupe toda a largura disponível */
    margin-bottom: 10px; /* Adicione espaço entre os botões */
  }
}

*{
  margin: 0%;
  padding: 0;
 
}

html,
body {
  height: 100%;
}

p,h1,h3{
  font-family: Arial;
}
.container {

  background-color: blue;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.coluna1 {

  background-color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;

}

.head {
  background-color: #64a44e;
  height: 80px;
  margin: 0;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

.phead {

  padding: 3px;
  text-align: center;
  background-color: white;
  border-radius: 2px;



}

.menu {
  background-color: transparent; /* Remove a cor de fundo */
  border-bottom: none; /* Remove a linha inferior */ 
}

#menuBurger{
	cursor:pointer;
}


.pesquisar {
  background-color: #f5f5f5; /* Fundo cinza claro */
  padding: 20px; /* Espaçamento interno */
  display: flex;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
}

.pesquisar form {
  display: flex; /* Permite organizar os elementos do formulário lado a lado */
}

.pesquisar input[type="search"] {
  width: 300px; /* Largura do campo de pesquisa */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Borda arredondada à esquerda */
  font-size: 16px;
}

.pesquisar input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0; /* Borda arredondada à direita */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pesquisar input[type="submit"]:hover {
  background-color: #d32f2f /* Cor mais escura ao passar o mouse */
}

.botoes {
  display: none;
  justify-content: space-around; /* Distribui os botões com espaço entre eles */
  padding: 15px;
  background-color: #f0f0f0; /* Fundo cinza bem claro */
  flex-direction: column;
  border: none;
}

.botoes button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 4px;
  margin: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Transição suave */
}

.botoes button:hover {
  background-color: #d32f2f; /* Cor mais escura ao passar o mouse */
}


button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

button:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#botao {

  position: relative;
  right: 5px;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;

}

#transportadores {

  
  flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  opacity: 90%;
  overflow-y: auto; /* Adicione esta linha para habilitar a barra de rolagem vertical */
  max-height: 1000px; /* Defina uma altura máxima para a lista (ajuste conforme necessário) */
  overflow-x: hidden;
}

.transportadores hr {
  border: 1px solid black;
  width: 100%;
}

#Login {

 
  background-color: whitesmoke;
  border-top: 0px solid black;
  text-align: center;
  align-items: center;
  opacity: 90%;
  display: none;
  justify-content: center;
  height: 100%;
}

#FormularioLogin {

  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  padding: 10px;
  align-items: center;
  background-color:#64a44e;
  border:1px solid black;
  border-radius: 5px;


}

#img {
  mix-blend-mode: multiply;
  width:100px;
  height:100px ;
}

#FormularioLogin input {

  margin: 6px;
  border-color:white;
}

#LoginOpcoes {

  position: relative;
  top: 100px;
}

#LoginOpcoes button {

  width: 100px;
  margin: 5px;
}



#Usuario {

  height: 100%;
  background-color: whitesmoke;
  border-top: 0px solid black;
  text-align: center;
  opacity: 90%;
  display: none;
  align-items: center;
  flex-direction: column;

}

.formularioCentro {
  display: flex;
  flex-direction: column;

}

.formularioCentro label {

  margin: 20px;

}

#Usuario label {

  position: center;
}

#myMap {
  display: flex;

}

#Cad {

  background-color: whitesmoke;
  border: 0px solid black;
  text-align: center;
  opacity: 90%;
  display: none;
  overflow-y: auto;
}

#Cad input {
  margin: 20px;
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

#Cad i {
  position: relative;
  margin: 20px;
}

#EditarMotorista {

  height: 700px;
  background-color: whitesmoke;
  border-top: 0px solid black;
  text-align: center;
  opacity: 90%;
   overflow-y: auto;
  display: none;

}

#EditarMotorista input,p{
  margin:20px;
}

#ExcluirMotorista{

flex-direction: column;
height: 100%;
background-color: whitesmoke;
text-align: center;
opacity: 90%;
display: none;
}

#InfMotorista{
  flex-direction: column;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
  opacity: 90%;
  display: none;
}

#descMotorista{
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 2%;
}
#descMotorista p{
  margin: 5px;
  margin-top: 10px;
  float: left;
 
  
}

#listMot{
  
  display:flex;
  flex-direction: column;
  width: 100%;
 
}

.ImgM {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  background: #fff;
  line-height: 1.7em;
  overflow: hidden;
  float: left;
  margin-top: 13px;
}

.Mot .ImgM {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.Mot .desc {
  display: flex;
  flex-direction: column;
}

.Mot .desc h3 {
  margin-bottom: 5px;
  color: #333;
}

.Mot .desc p {
  margin-bottom: 3px;
  color: #555;
  font-size: 14px;
}

.desc{

float:left;
position:relative;
width:230px; 
	
}
.desc p {
	
  margin-left: 0px;
  margin:auto;

}

.desc h3{
	
	background-color:#64a44e;
	border-radius:2px;
	
}


.Mot {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Linha sutil separando os motoristas */
  background-color: #f9f9f9; /* Fundo levemente cinza */
  border-radius: 5px; /* Bordas arredondadas */
}

.Mot button img{
  width:20px; 
  height: 20px;
  float: right;
  mix-blend-mode: multiply;
}

.Mot button{
  border: 0px;
  margin: auto;
  float: right;
  background-color: whitesmoke;
}

.Mot:hover {
  box-shadow: 0 5px 5px -5px #333;
}

input[text-text] {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

input[text-text]:focus {
  border-color: blue;
  box-shadow: 0 0 8px 0 blue;
}

.ButCad {
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color: #e5f8ff;
}

#salvar {
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro */
  float: left;
  transition: background-color 0.3s ease; /* Transição suave */
}

#salvar:hover {
  background-color: #d32f2f; /* Cor mais escura ao passar o mouse */
}

#salvar::before {
  content: "\f00c"; /* Ícone de "check" do FontAwesome */
  font-family: FontAwesome;
  margin-right: 10px;
}